<div class="index-wrapper">
  <div class="container">
    <div class="row">
      <% if @rests %>
      <p class="search-sentence">検索結果が<%= @rests.total_count%>件見つかりました</p> 
        <% @rests.each do |rest|%>
          <%= link_to (shops_show_path(rest_id: rest["id"])) do %>
          <div class="col-md-4">
            <div class="search-result">
              <%= image_tag rest["image_url"]["shop_image1"], class:"rest-image"%>
              <div class="rest-item">
                <p class="rest-name"><%= rest["name"] %></p>
                <p class="rest-access"><%= rest["access"]["line"] %><%= rest["access"]["station"] %>から徒歩<%= rest["access"]["walk"] %>分</p>
                <hr class="hr-border">
                <p class="rest-category"><%= rest["category"] %></p>
              </div>
            </div>
          </div>
          <% end %>
        <% end %>
      <% else %> 
        <div class="serch-result">
          <p>検索結果がありません。</p>
        </div>
      <% end %>
    </div>
    
    <% if @rests %>
    <div class="paginate ">
      <%= paginate @rests %>
    </div>
    <% end %>
  </div>
</div>
Supported by <a href="https://api.gnavi.co.jp/api/scope/" target="_blank">ぐるなびWebService</a>